<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>NutriFlow</title>
<link rel="stylesheet" href="./styles/main.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>

<body>

    <!-- HEADER -->
  <header class="header">
    <div class="header-inner">
      <div class="header-brand">
        <div class="brand-icon">
          <i class="fas fa-utensils"></i>
        </div>
        <div>
          <h1 class="brand-title">NutriFlow</h1>
          <p class="brand-subtitle">Coach Nutrition</p>
        </div>
      </div>
    </div>
  </header>


<script type="module" src="./src/main.js"></script>
</body>
</html>