// ===== IMPORTS =====
@import 'variables';
@import 'layout';
@import 'cards';
@import 'modal';
@import 'responsive';

// ===== RESET =====
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #111827;
  padding-bottom: 5rem;
  
}

// ===== HIDDEN =====
.hidden {
  display: none !important;
}